<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <i class="fa fa-align-right"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
      </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-2" style="padding: 15px">
            <label>Select Academic Year</label>
        </div>
        <div class="col-sm-4 col-lg-4" style="padding: 18px">
            <div class="form-group">
              <select class="form-control" name="academicyear" 
                [(ngModel)]="year"(change)="changeYear(year)">
                <option value="">Select Academic Year</option>
                <option [selected]=" year == academy.academic_year_master_id" [value]="academy.academic_year_master_id"
                  *ngFor="let academy of academicyear">{{academy.academic_year_master_name}}</option>
              </select>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
            <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
            <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>
            </li>
            </ul>
        </div>
        </div>
    </div>
  </nav>