<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div id="main-form-content">
				<div class="col-md-12">
					<div  class="qtraq-subtitle-wrapper mt20">
						<h1> Folder Documents</h1>
					</div>
					<div>
						<div class="table-responsive scroll-table" style="overflow-x:auto;width:100%;">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th>Document/Video Title</th>
										<th>Document/Video</th>
									</tr>
								</thead>
								
								<tbody>	
									<tr *ngFor="let folder of folder_details | paginate: { itemsPerPage: this.size, 
		  							currentPage: this.page, totalItems: this.totalRecords }">
										<td>{{folder.folder_name}}</td>
										<td>{{folder.document_title}}
										</td>
										<td *ngIf="folder.doc_type == 'doc_excel' && folder.is_downloadable == 'Yes'"><a href="{{folder.doc_path}}"><i class="fa fa-file" style="font-size:60px;margin-bottom:2px;"></i><br>Document</a>
										</td>
										<td *ngIf="folder.doc_type == 'doc_excel' && folder.is_downloadable == 'No'"><i class="fa fa-file" style="font-size:60px;margin-bottom:2px;"></i><br>Document
										</td>
										<td *ngIf="folder.doc_type == 'doc'"><a routerLink="{{folder.folder_document_id}}"><i class="fa fa-file" style="font-size:60px;margin-bottom:2px;"></i><br>Pdf Document</a>
										</td>
										<td *ngIf="folder.doc_type == 'video'"><iframe [src]="iframeUrl(folder.video_path)" style="border:0;height:200;width:350px;max-width: 100%" allowFullScreen="true" allow="encrypted-media"></iframe>
										</td>
									</tr>
								</tbody>
							</table>	
							<pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>				
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
