<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
	  <section class="content">
	    <div id="main-form-content" class="load_table">
			<mat-tab-group #tabGroup disableRipple (selectedTabChange)="admissionform1($event)" [selectedIndex]="selectedindex">
				<mat-tab onclick="admissionform(admission)">
					<ng-template mat-tab-label>
						<span class="label-text">Admission</span>
					</ng-template>
				    <form [formGroup]="AdmissionTabForm" (ngSubmit)="FormOnSubmit(AdmissionTabForm.value)" class=" org-form all-com-form" enctype="multipart/form-data">
				        <div class="qtraq-subtitle-wrapper">
				          <h1>Admission Process</h1>
				        </div>
				        
				        <div class="row">
				          	<div class="col-sm-6" *ngIf= "Enquirydisable">
					            <div class="form-group mt10 required">
									<label class="text_green"> Enquiry<span class="text-danger">*</span> </label><br>
									<select2 [cssImport]=true  [options]="optionsSelect"  (valueChanged)="getInquiryDetails($event)">
										<option>Select Enquiry</option>
										<option *ngFor="let inquiry of inquiries"[value]="inquiry.inquiry_master_id"> {{ inquiry.inquiry_no +' ('+inquiry.student_first_name +' '+ inquiry.student_last_name +')' }}</option>
									</select2>
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-6" *ngIf= "EnquirydisableCreate">
					            <div class="form-group mt10 required">
									<label class="text_green"> Enquiry </label><br>
									<input type="text" class="form-control" name="inquiryid" [(ngModel)]="inquiryId" [value]="inquiries1" formControlName="inquiryid" readonly="readonly">
					            </div>
					        </div>

					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Admission Date<span class="text-danger">*</span> </label>
									<input ngx-mydatepicker name="admissiondate" (dateChanged)="onadmissionDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxadmissiondate"
							        #dp1="ngx-mydatepicker" formControlName="admissiondate" (click)="dp1.toggleCalendar()" class="form-control w100" placeholder="Select Admission Date" [attr.disabled]="admissiondateDisable ? '' : null">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.admissiondate.errors">
			                			<span *ngIf="AdmissionTabForm.controls.admissiondate.errors.required">Select Admission Date</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Academic Year<span class="text-danger">*</span> </label>
									<select class="form-control" name="academicyearid" formControlName="academicyearid" [(ngModel)]="academicyearid">
						                <option value="" selected="selected">Select Academic Year</option>
						                <option [selected]=" academicyearid == academy.academic_year_master_id" [value]="academy.academic_year_master_id"
						                  *ngFor="let academy of academicyears">{{academy.academic_year_master_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.academicyearid.errors">
			                			<span *ngIf="AdmissionTabForm.controls.academicyearid.errors.required">Select Academic Year</span>
			              			</div>
					            </div>
					        </div>
				        	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Enrollment No </label>
									<input type="text" class="form-control" name="enrollmentno" [(ngModel)]="enrollmentno" formControlName="enrollmentno" readonly="readonly">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				        	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Category<span class="text-danger">*</span> </label>
									<select class="form-control" name="categoryid" formControlName="categoryid" [(ngModel)]="categoryId" (change)="getCourses(categoryId)">
						                <option value="" selected="selected">Select Category</option>
						                <option [selected]=" categoryId == cat.category_id" [value]="cat.category_id"
						                  *ngFor="let cat of category">{{cat.categoy_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.categoryid.errors">
			                			<span *ngIf="AdmissionTabForm.controls.categoryid.errors.required">Select Category</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Course<span class="text-danger">*</span> </label>
									<select class="form-control" name="courseid" formControlName="courseid" [(ngModel)]="courseId" (change)="getCenterUserBatches(categoryId,courseId)">
						                <option value="">Select Course</option>
						                <option [selected]=" courseId == course.course_id" [value]="course.course_id"
						                  *ngFor="let course of courses">{{course.course_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.courseid.errors">
			                			<span *ngIf="AdmissionTabForm.controls.courseid.errors.required">Select Course</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				        	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Batch</label>
									<select class="form-control" name="batchid" formControlName="batchid" [(ngModel)]="batchId">
						                <option value="" selected="selected">Select Batch</option>
						                <option [selected]=" batchId == batch.batch_id" [value]="batch.batch_id"
						                  *ngFor="let batch of batches">{{batch.batch_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.batchid.errors">
			                			<span *ngIf="AdmissionTabForm.controls.batchid.errors.required">Select Batch</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Program Start Date<span class="text-danger">*</span> </label>
									<input ngx-mydatepicker name="programmestartdate" (dateChanged)="onprogramStartDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxprogramstartdate"
							        #dp2="ngx-mydatepicker" formControlName="programmestartdate" (click)="dp2.toggleCalendar()" class="form-control w100" placeholder="Select Program Start Date">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.programmestartdate.errors">
			                			<span *ngIf="AdmissionTabForm.controls.programmestartdate.errors.required">Select Program Start Date</span>
			              			</div>
					            </div>
					        </div>
				        </div>
				        <div class="row">
				        	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Program End Date<span class="text-danger">*</span> </label>
									<input ngx-mydatepicker name="programmeenddate" (dateChanged)="onprogramEndDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxprogramenddate"
							        #dpenddate="ngx-mydatepicker" formControlName="programmeenddate" (click)="dpenddate.toggleCalendar()" class="form-control w100" placeholder="Select Program End Date">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.programmeenddate.errors">
			                			<span *ngIf="AdmissionTabForm.controls.programmeenddate.errors.required">Select Program End Date</span>
			              			</div>
					            </div>
					        </div>
				        </div>
				        <h3 style="background-color: red;color: white;">CHILD INFORMATION</h3>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> First Name<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="studentfirstname" [(ngModel)]="studentfirstname" formControlName="studentfirstname"
									placeholder="Enter First Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.studentfirstname.errors">
			                			<span *ngIf="AdmissionTabForm.controls.studentfirstname.errors.required">Please Enter Student First Name</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Last Name<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="studentlastname"[(ngModel)]="studentlastname" formControlName="studentlastname"
									placeholder="Enter Last Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.studentlastname.errors">
			                			<span *ngIf="AdmissionTabForm.controls.studentlastname.errors.required">Please Enter Student Last Name</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-3">
					            <div class="form-group mt10 required">
									<label class="text_green"> Date Of Birth<span class="text-danger">*</span> </label>
									<input ngx-mydatepicker name="dob" (dateChanged)="onDobChanged($event)" [options]="myOptions" [(ngModel)]="ngxstudentdob"
							        #dp3="ngx-mydatepicker" formControlName="dob" (click)="dp3.toggleCalendar()" class="form-control w100" placeholder="Select Birth Date">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.dob.errors">
			                			<span *ngIf="AdmissionTabForm.controls.dob.errors.required">Select Date Of Birth</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-3">
					            <div class="form-group mt10 required">
									<label class="text_green"> Age As On</label>
									<input type="text"formControlName="ageon" name="ageon" [(ngModel)]="ageon" class="form-control" value="{{this.programmestartdate}}" placeholder="" disabled="disabled">
									<div class="clearfix"></div>
					            </div>
					        </div>
				          	<div class="col-sm-3">
					            <div class="form-group mt10">
									<label class="text_green"> Years </label>
									<input type="text" class="form-control" name="dobyear" [(ngModel)]="dobyear" formControlName="dobyear" readonly="readonly">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-3">
					            <div class="form-group mt10">
									<label class="text_green"> Months </label>
									<input type="text" class="form-control" name="dobmonth" [(ngModel)]="dobmonth" formControlName="dobmonth" readonly="readonly">
									<div class="clearfix"></div>
					            </div>
					        </div>
					    </div>

					    <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Nationality<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="nationality" [(ngModel)]="nationality" formControlName="nationality"
									placeholder="Enter Nationality">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.nationality.errors">
			                			<span *ngIf="AdmissionTabForm.controls.nationality.errors.required">Please Enter Nationality</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Religion<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="religion"[(ngModel)]="religion" formControlName="religion"
									placeholder="Enter Religion">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.religion.errors">
			                			<span *ngIf="AdmissionTabForm.controls.religion.errors.required">Please Enter Religion</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Mother Tongue<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="mothertongue" [(ngModel)]="mothertongue" formControlName="mothertongue"
									placeholder="Enter Mother Tongue">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.mothertongue.errors">
			                			<span *ngIf="AdmissionTabForm.controls.mothertongue.errors.required">Please Enter Mother Tongue</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Other Language(s) </label>
									<textarea class="form-control textarea-50" name="otherlanguages" [(ngModel)]="otherlanguages" formControlName="otherlanguages"
									placeholder="Enter Other Languages"></textarea>
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				         	<div class="col-sm-6">
					            <div class="form-group mt10">
				         			<label>Has Child attended preschool before?</label>
				         			<br>
									<input type="radio" name="attendedpreschoolbefore" [value]="true" [(ngModel)]="attendedpreschoolbefore" formControlName="attendedpreschoolbefore"[checked]="attendedpreschoolbefore">Yes
									<input type="radio" name="attendedpreschoolbefore" [value]="false" [(ngModel)]="attendedpreschoolbefore" formControlName="attendedpreschoolbefore" [checked]="!attendedpreschoolbefore">No
									<div class="clearfix"></div>
					            </div>
					        </div>
				          	<div class="col-sm-6" *ngIf="attendedpreschoolbefore">
					            <div class="form-group mt10 required">
									<label class="text_green"> Preschool Name<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="preschoolname" [(ngModel)]="preschoolname" formControlName="preschoolname"
									placeholder="Enter Preschool Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
			            				AdmissionTabForm.controls.preschoolname.errors">
			                			<span *ngIf="AdmissionTabForm.controls.preschoolname.errors.required">Please Enter Preschool Name</span>
			              			</div>
					            </div>
					        </div>
				        </div>

			            <div class="form-group">
							<button type="submit" class="btn btn-primary " style="margin-right: 10px">Save</button>
							<button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button>
			            </div>
				      </form>
				</mat-tab>

				<mat-tab disabled="{{admissionForm1disable}}">
					<ng-template mat-tab-label>
						<span class="label-text">Family Information</span>
					</ng-template>
				    <form [formGroup]="AdmissionTab1Form" (ngSubmit)="Form1OnSubmit(AdmissionTab1Form.value)" class=" org-form all-com-form"
				        enctype="multipart/form-data">
				        <div class="qtraq-subtitle-wrapper">
				          <h1>Admission Process</h1>
				        </div>
				        
				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Father's Name </label>
									<input type="text" class="form-control" name="fathername" [(ngModel)]="fathername" formControlName="fathername"
									placeholder="Enter Father Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.fathername.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.fathername.errors.required">Please Enter Father Name</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Mother's Name<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="mothername" [(ngModel)]="mothername" formControlName="mothername"
									placeholder="Enter Mother Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.mothername.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.mothername.errors.required">Please Enter Student Mother Name</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Father's Profession<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="fatherprof" [(ngModel)]="fatherprof" formControlName="fatherprof" placeholder="Enter Father Profession">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.fatherprof.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.fatherprof.errors.required">Please Enter  Father Profession</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Mother Profession<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="motherprof" [(ngModel)]="motherprof" formControlName="motherprof" placeholder="Enter Mother Profession">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.motherprof.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.motherprof.errors.required">Please Enter  Mother Profession</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Father Language(s)<span class="text-danger">*</span> </label>
									<textarea class="form-control textarea-50" name="fatherlanguages" [(ngModel)]="fatherlanguages" formControlName="fatherlanguages" placeholder="Enter Father Languages"></textarea>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.fatherlanguages.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.fatherlanguages.errors.required">Please Enter  Father Profession</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Mother Language(s)<span class="text-danger">*</span> </label>
									<textarea class="form-control textarea-50" name="motherlanguages" [(ngModel)]="motherlanguages" formControlName="motherlanguages" placeholder="Enter Mother Languages"></textarea>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.motherlanguages.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.motherlanguages.errors.required">Please Enter  Mother Profession</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Father Nationality<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="fathernationality" [(ngModel)]="fathernationality" formControlName="fathernationality" placeholder="Enter Father Nationality">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.fathernationality.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.fathernationality.errors.required">Please Enter  Father Nationality</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Mother Nationality<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="mothernationality" [(ngModel)]="mothernationality" formControlName="mothernationality" placeholder="Enter Mother Nationality">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.mothernationality.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.mothernationality.errors.required">Please Enter  Mother Nationality</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <h3 style="color: red;">Siblings Name and date of Birth :</h3>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Enter Enrollment No</label>
									<input type="text" class="form-control" name="sibling1enrollment" [(ngModel)]="sibling1enrollment" formControlName="sibling1enrollment"
									placeholder="Enter Sibling Enrollment No" (keyup)="sibling1enrollChnage(sibling1enrollment)">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Enter Enrollment No</label>
									<input type="text" class="form-control" name="sibling2enrollment" [(ngModel)]="sibling2enrollment" formControlName="sibling2enrollment"
									placeholder="Enter Sibling Enrollment No" (keyup)="sibling2enrollChnage(sibling2enrollment)">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Sibling Name </label>
									<input type="text" class="form-control" name="sibling1name" [(ngModel)]="sibling1name" formControlName="sibling1name" disabled="disabled">
									<div class="clearfix"></div>
									<input type="hidden" name="sibling1id" [(ngModel)]="sibling1id" formControlName="sibling1id">
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Sibling Name </label>
									<input type="text" class="form-control" name="sibling2name" [(ngModel)]="sibling2name" formControlName="sibling2name" disabled="disabled">
									<div class="clearfix"></div>
									<input type="hidden" name="sibling2id" [(ngModel)]="sibling2id" formControlName="sibling2id">
					            </div>
					        </div>
					    </div>

					    <!-- <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Which School do the sibling attend? </label>
									<input type="text" class="form-control" name="sibling1school" [(ngModel)]="sibling1school" formControlName="sibling1school"
									placeholder="Enter Sibling School">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.sibling1school.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.sibling1school.errors.required">Please Enter School Name</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Which School do the sibling attend? </label>
									<input type="text" class="form-control" name="sibling2school" [(ngModel)]="sibling2school" formControlName="sibling2school"
									placeholder="Enter Sibling School">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm1Submitted && 
			            				AdmissionTab1Form.controls.sibling2school.errors">
			                			<span *ngIf="AdmissionTab1Form.controls.sibling2school.errors.required">Please Enter School Name</span>
			              			</div>
					            </div>
					        </div>
				        </div> -->

			            <div class="form-group">
							<button type="submit" class="btn btn-primary ">Save</button>
							<button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button>
			            </div>
				      </form>
				</mat-tab>

				<mat-tab disabled="{{admissionForm2disable}}">
					<ng-template mat-tab-label>
						<span class="label-text">Contact Information</span>
					</ng-template>
				    <form [formGroup]="AdmissionTab2Form" (ngSubmit)="Form2OnSubmit(AdmissionTab2Form.value)" class=" org-form all-com-form"
				        enctype="multipart/form-data">
				        <div class="qtraq-subtitle-wrapper">
				          <h1>Admission Process</h1>
				        </div>

				        <div class="row">
				          	<div class="col-sm-12">
					            <div class="form-group mt10">
									<label class="text_green">Present Address<span class="text-danger">*</span> </label>
									<textarea type="text" placeholder="Present Address" class="form-control textarea-100" name="presentaddress" [(ngModel)]="presentaddress" formControlName="presentaddress" required></textarea>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.presentaddress.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.presentaddress.errors.required">Please Enter Present Address</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Country<span class="text-danger">*</span> </label>
									<select class="form-control" name="countryid" formControlName="countryid" [(ngModel)]="countryId" (change)="getState(countryId)">
						                <option value="" selected="selected">Select Country</option>
						                <option [selected]=" countryId == country.country_id" [value]="country.country_id"
						                  *ngFor="let country of countries">{{country.country_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.countryid.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.countryid.errors.required">Select Country</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> State<span class="text-danger">*</span> </label>
									<select class="form-control" name="stateid" formControlName="stateid" [(ngModel)]="stateId" (change)="getCity(stateId)">
						                <option value="">Select State</option>
						                <option [selected]=" stateId == state.state_id" [value]="state.state_id"
						                  *ngFor="let state of states">{{state.state_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.stateid.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.stateid.errors.required">Select State</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> City<span class="text-danger">*</span> </label>
									<select class="form-control" name="cityid" formControlName="cityid" [(ngModel)]="cityId">
						                <option value="" selected="selected">Select City</option>
						                <option [selected]=" cityId == city.city_id" [value]="city.city_id"
						                  *ngFor="let city of cities">{{city.city_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.cityid.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.cityid.errors.required">Select City</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Pincode<span class="text-danger">*</span> </label>
									<input type="number" class="form-control" name="pincode" [(ngModel)]="pincode" formControlName="pincode"
									placeholder="Enter Pincode">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.pincode.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.pincode.errors.required">Please Enter Pincode</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Father's Email Id<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="fatheremailid" [(ngModel)]="fatheremailid" formControlName="fatheremailid"
									placeholder="Enter Father Email Id">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.fatheremailid.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.fatheremailid.errors.required">Please Enter Father Email Id</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Mother Email Id<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="motheremailid" [(ngModel)]="motheremailid" formControlName="motheremailid"
									placeholder="Enter Mother Email Id">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.motheremailid.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.motheremailid.errors.required">Please Enter Mother Email Id</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green">Father Mobile Contact Number<span class="text-danger">*</span> </label>
									<input type="number" class="form-control" name="fathermobilecontactno" [(ngModel)]="fathermobilecontactno" formControlName="fathermobilecontactno"
									placeholder="Enter Father Mobile Contact No">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.fathermobilecontactno.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.fathermobilecontactno.errors.required">Please Enter Father Mobile Contact No</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Mother Mobile Contact Number<span class="text-danger">*</span> </label>
									<input type="number" class="form-control" name="mothermobilecontactno" [(ngModel)]="mothermobilecontactno" formControlName="mothermobilecontactno"
									placeholder="Enter Mother Mobile Contact No">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.mothermobilecontactno.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.mothermobilecontactno.errors.required">Please Enter Mother Mobile Contact No</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green">Father Home Contact Number </label>
									<input type="number" class="form-control" name="fatherhomecontactno" [(ngModel)]="fatherhomecontactno" formControlName="fatherhomecontactno"
									placeholder="Enter Father Home Contact No">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Mother Home Contact Number </label>
									<input type="number" class="form-control" name="motherhomecontactno" [(ngModel)]="motherhomecontactno" formControlName="motherhomecontactno"
									placeholder="Enter Mother Home Contact No">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green">Father Office Contact Number </label>
									<input type="number" class="form-control" name="fatherofficecontactno" [(ngModel)]="fatherofficecontactno" formControlName="fatherofficecontactno"
									placeholder="Enter Father Office Contact No">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Mother Office Contact Number </label>
									<input type="number" class="form-control" name="motherofficecontactno" [(ngModel)]="motherofficecontactno" formControlName="motherofficecontactno"
									placeholder="Enter Mother Office Contact No">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>
				        <h3 style="color: red;">Emergency Contact :</h3>
				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Name<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="emergencycontactname" [(ngModel)]="emergencycontactname" formControlName="emergencycontactname"
									placeholder="Enter Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.emergencycontactname.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.emergencycontactname.errors.required">Please Enter Name</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Relationship<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="emergencycontactrelationship" [(ngModel)]="emergencycontactrelationship" formControlName="emergencycontactrelationship"
									placeholder="Enter Relationship">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.emergencycontactrelationship.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.emergencycontactrelationship.errors.required">Please Enter Relationship</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Mobile<span class="text-danger">*</span> </label>
									<input type="number" class="form-control" name="emergencycontactmobileno" [(ngModel)]="emergencycontactmobileno" formControlName="emergencycontactmobileno"
									placeholder="Enter Mobile No">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm2Submitted && 
			            				AdmissionTab2Form.controls.emergencycontactmobileno.errors">
			                			<span *ngIf="AdmissionTab2Form.controls.emergencycontactmobileno.errors.required">Please Enter Mobile No</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Home Telephone </label>
									<input type="number" class="form-control" name="emergencycontacttelno" [(ngModel)]="emergencycontacttelno" formControlName="emergencycontacttelno"
									placeholder="Enter Home Telephone No">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>


			            <div class="form-group">
							<button type="submit" class="btn btn-primary " style="margin-right: 10px">Save</button>
							<button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button>
			            </div>
				      </form>
				</mat-tab>

				<mat-tab disabled="{{admissionForm3disable}}">
					<ng-template mat-tab-label>
						<span class="label-text">Authorised Person</span>
					</ng-template>
				    <form [formGroup]="AdmissionTab3Form" (ngSubmit)="Form3OnSubmit(AdmissionTab3Form.value)" class=" org-form all-com-form"
				        enctype="multipart/form-data">
				        <div class="qtraq-subtitle-wrapper">
				          <h1>Authorised to pick & Drop</h1>
				        </div>

				        <div class="row">
				          	<div class="col-sm-4">
					            <div class="form-group mt10 required">
									<label class="text_green"> Name<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="authperson1" [(ngModel)]="authperson1" formControlName="authperson1"
									placeholder="Enter Name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm3Submitted && 
			            				AdmissionTab3Form.controls.authperson1.errors">
			                			<span *ngIf="AdmissionTab3Form.controls.authperson1.errors.required">Please Enter Name</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-4">
					            <div class="form-group mt10 required">
									<label class="text_green"> Relationship<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="authperson1relation" [(ngModel)]="authperson1relation" formControlName="authperson1relation"
									placeholder="Enter Relationship">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm3Submitted && 
			            				AdmissionTab3Form.controls.authperson1relation.errors">
			                			<span *ngIf="AdmissionTab3Form.controls.authperson1relation.errors.required">Please Enter Relationship</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-4">
					            <div class="form-group mt10">
					            	<label>Gender</label>
				         			<br>
									<input type="radio" [(ngModel)]="authperson1gender" formControlName="authperson1gender" name="authperson1gender" [value]="true" [checked]="authperson1gender">Male
									<input type="radio" [(ngModel)]="authperson1gender" formControlName="authperson1gender" name="authperson1gender" [value]="false"[checked]="!authperson1gender">Female
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-4">
					            <div class="form-group mt10">
									<label class="text_green"> Name </label>
									<input type="text" class="form-control" name="authperson2" [(ngModel)]="authperson2" formControlName="authperson2"
									placeholder="Enter Name">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-4">
					            <div class="form-group mt10">
									<label class="text_green"> Relationship </label>
									<input type="text" class="form-control" name="authperson2relation" [(ngModel)]="authperson2relation" formControlName="authperson2relation"
									placeholder="Enter Relationship">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-4">
					            <div class="form-group mt10">
					            	<label>Gender</label>
				         			<br>
									<input type="radio" [(ngModel)]="authperson2gender" formControlName="authperson2gender" name="authperson2gender" [value]="true" [checked]="authperson2gender">Male
									<input type="radio" [(ngModel)]="authperson2gender" formControlName="authperson2gender" name="authperson2gender" [value]="false"[checked]="!authperson2gender">Female
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-4">
					            <div class="form-group mt10">
									<label class="text_green"> Name </label>
									<input type="text" class="form-control" name="authperson3" [(ngModel)]="authperson3" formControlName="authperson3"
									placeholder="Enter Name">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-4">
					            <div class="form-group mt10">
									<label class="text_green"> Relationship </label>
									<input type="text" class="form-control" name="authperson3relation" [(ngModel)]="authperson3relation" formControlName="authperson3relation"
									placeholder="Enter Relationship">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-4">
					            <div class="form-group mt10">
					            	<label>Gender</label>
				         			<br>
									<input type="radio" [(ngModel)]="authperson3gender" formControlName="authperson3gender" name="authperson3gender" [value]="true" [checked]="authperson3gender">Male
									<input type="radio" [(ngModel)]="authperson3gender" formControlName="authperson3gender" name="authperson3gender" [value]="false"[checked]="!authperson3gender">Female
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

			            <div class="form-group">
							<button type="submit" class="btn btn-primary " style="margin-right: 10px">Save</button>
							<button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button>
			            </div>
				      </form>
				</mat-tab>

				<mat-tab disabled="{{admissionForm4disable}}">
					<ng-template mat-tab-label>
						<span class="label-text">Documents</span>
					</ng-template>
				    <form [formGroup]="AdmissionTab4Form" (ngSubmit)="Form4OnSubmit(AdmissionTab4Form.value)" class=" org-form all-com-form"
				        enctype="multipart/form-data">
				        <div class="qtraq-subtitle-wrapper">
				          <h1>Admission Process</h1>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Immunization Certificate<span class="text-danger">*</span> </label>
									<div *ngIf="admission_form_path">
					                 	<a href="{{admission_form_path}}" target="_blank">View Admisson Form Detail </a>
					                </div>
									<div class="inputfile-box">
				                     	<input class="inputfile" id="file" type="file" (change)="onadmissionFormUpload($event)" name="duly_filled_admission_form" formControlName="duly_filled_admission_form">
				                     	<label for="file"><span class="file-box" id="admissionForm"></span><span class="file-button">Upload</span></label>
				                    </div>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm4Submitted && 
			            				AdmissionTab4Form.controls.duly_filled_admission_form.errors && admission_form_path == ''">
			                			<span *ngIf="AdmissionTab4Form.controls.duly_filled_admission_form.errors.required">Please Upload Admission Form</span>
			              			</div>
					            </div>
					        </div>
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Birth Certificate<span class="text-danger">*</span> </label>
									<div *ngIf="birth_certificate_path">
					                 	<a href="{{birth_certificate_path}}" target="_blank">View Birth Certificate Detail </a>
					                </div>
									<div class="inputfile-box">
				                     	<input class="inputfile" id="file1" type="file" (change)="onbirthCertyUpload($event)" name="birth_certificate" formControlName="birth_certificate">
				                     	<label for="file1"><span class="file-box" id="birthcerti"></span><span class="file-button">Upload</span></label>
				                    </div>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm4Submitted && 
			            				AdmissionTab4Form.controls.birth_certificate.errors && birth_certificate_path == ''">
			                			<span *ngIf="AdmissionTab4Form.controls.birth_certificate.errors.required">Please Upload Birth Certificate</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Child Photo<span class="text-danger">*</span> </label>
				                    <div *ngIf="profile_pic_path">
					                 	<img height="200px" src="{{profile_pic_path}}" alt="img">
					                </div>
									<div class="inputfile-box">
				                     	<input class="inputfile" id="file2" type="file" (change)="onprofilePicUpload($event)" name="profile_pic" formControlName="profile_pic">
				                     	<label for="file2"><span class="file-box" id="profilePic"></span><span class="file-button">Upload</span></label>
				                    </div>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm4Submitted && 
			            				AdmissionTab4Form.controls.profile_pic.errors && profile_pic_path == ''">
			                			<span *ngIf="AdmissionTab4Form.controls.profile_pic.errors.required">Please Upload Profile Pic</span>
			              			</div>
					            </div>
					        </div>
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Family Photo<span class="text-danger">*</span> </label>
									<div *ngIf="family_photo_path">
										<img height="200px" src="{{family_photo_path}}" alt="img">
					                </div>
									<div class="inputfile-box">
				                     	<input class="inputfile" id="file3" type="file" (change)="onfamilyPhotoUpload($event)" name="family_photo" formControlName="family_photo">
				                     	<label for="file3"><span class="file-box" id="familyphoto"></span><span class="file-button">Upload</span></label>
				                    </div>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm4Submitted && 
			            				AdmissionTab4Form.controls.family_photo.errors && family_photo_path == ''">
			                			<span *ngIf="AdmissionTab4Form.controls.family_photo.errors.required">Please Upload Family Photo</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Address proof<span class="text-danger">*</span> </label>
									<div *ngIf="address_proof_path">
										<a href="{{address_proof_path}}" target = "_blank">View Address Proof Detail</a>
					                </div>
									<div class="inputfile-box">
				                     	<input class="inputfile" id="file4" type="file" (change)="onaddressProofUpload($event)" name="address_proof" formControlName="address_proof">
				                     	<label for="file4"><span class="file-box" id="addressProof"></span><span class="file-button">Upload</span></label>
				                    </div>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm4Submitted && 
			            				AdmissionTab4Form.controls.address_proof.errors">
			                			<span *ngIf="AdmissionTab4Form.controls.address_proof.errors.required && address_proof_path == ''">Please Upload Address Proof</span>
			              			</div>
					            </div>
					        </div>
				          	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Profile Form<span class="text-danger">*</span> </label>
									<div *ngIf="profile_form_path">
										<a href="{{profile_form_path}}" target = "_blank">View Child Profile Form Detail</a>
					                </div>
									<div class="inputfile-box">
				                     	<input class="inputfile" id="file5" type="file" (change)="onprofileFormUpload($event)" name="duly_filled_child_profile_form" formControlName="duly_filled_child_profile_form">
				                     	<label for="file5"><span class="file-box" id="profileForm"></span><span class="file-button">Upload</span></label>
				                    </div>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm4Submitted && 
			            				AdmissionTab4Form.controls.duly_filled_child_profile_form.errors && profile_form_path == ''">
			                			<span *ngIf="AdmissionTab4Form.controls.duly_filled_child_profile_form.errors.required">Please Upload Profile Form</span>
			              			</div>
					            </div>
					        </div>
				        </div>

			            <div class="form-group">
							<button type="submit" class="btn btn-primary " style="margin-right: 10px">Save</button>
							<button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button>
			            </div>
				      </form>
				</mat-tab>

				<mat-tab disabled="{{admissionForm5disable}}" *ngIf="displaypayFees">
					<ng-template mat-tab-label>
						<span class="label-text">Pay Fees</span>
					</ng-template>
				    <form [formGroup]="AdmissionTab5Form" (ngSubmit)="Form5OnSubmit(AdmissionTab5Form.value)" class=" org-form all-com-form"
				        enctype="multipart/form-data">
				        <div class="qtraq-subtitle-wrapper">
				          <h1>Admission Process</h1>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
					            	<label>Fees Selection Type</label>
				         			<br>
									<!-- <input type="radio" [(ngModel)]="feestype" formControlName="feestype" name="feestype" [value]="true" [checked]="feestype" disabled="disabled">Group -->
									<input type="radio" [(ngModel)]="feestype" formControlName="feestype" name="feestype" [value]="false"[checked]="!feestype">Class
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green"> Fees Level<span class="text-danger">*</span> </label>
									<select class="form-control" name="fees_level" formControlName="fees_level" [(ngModel)]="feesLevel" (change)="getCenterFees(feesLevel,'level')" >
						                <option value="" selected="selected">Select Fees Level</option>
						                <option [selected]=" feesLevel == feeslevel.fees_level_id" [value]="feeslevel.fees_level_id"
						                  *ngFor="let feeslevel of feesLevels">{{feeslevel.fees_level_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.fees_level.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.fees_level.errors.required">Select Fees Level</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				        	<div class="col-sm-6">
					            <div class="form-group mt10 required">
									<label class="text_green">Fees<span class="text-danger">*</span></label>
									<select class="form-control" name="fees" formControlName="fees" [(ngModel)]="fees" (change)="getCenterFees(feesLevel,'fees')" >
						                <option value="" selected="selected">Select Fees</option>
						                <option [value]="fee.fees_id"
						                  *ngFor="let fee of Fees">{{fee.fees_name}}</option>
					              	</select>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.fees.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.fees.errors.required">Select Fees</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
					            	<label>Fees Type</label>
				         			<br>
									<input type="radio" [(ngModel)]="feepaymenttype" formControlName="feepaymenttype" name="feepaymenttype" [value]="true" [checked]="feepaymenttype" (change) = "feesPaymentTypeChange(feepaymenttype)">Insatllment
									<input type="radio" [(ngModel)]="feepaymenttype" formControlName="feepaymenttype" name="feepaymenttype" [value]="false"[checked]="!feepaymenttype" (change) = "feesPaymentTypeChange(feepaymenttype)">Lumsum
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row" *ngIf="!feepaymenttype">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Amount Collected </label>
									<input type="text" class="form-control" name="fees_amount_collected" [(ngModel)]="fees_amount_collected" formControlName="fees_amount_collected" disabled="disabled">
									<div class="clearfix"></div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Amount Remaining </label>
									<input type="text" class="form-control" name="fees_remaining_amount" [(ngModel)]="fees_remaining_amount" formControlName="fees_remaining_amount" disabled="disabled">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row" *ngIf="feepaymenttype && fees_total_amount != ''">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Insatllment No<span class="text-danger">*</span> </label>
									<input type="number" class="form-control" name="noofinstallment" [(ngModel)]="noofinstallment" formControlName="noofinstallment" (keyup)="installmentnoChange(noofinstallment)" min="0">
									<div class="clearfix"></div>
									<span  id="installmenterror"></span>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.noofinstallment.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.noofinstallment.errors.required">Enter Installment No</span>
			              			</div>
					            </div>
					        </div>
				        	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> MaxInsatllment Allowed </label>
									<input type="number" class="form-control" name="maxinstallmentallowed" [(ngModel)]="maxinstallmentallowed" formControlName="maxinstallmentallowed" disabled="disabled">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Total Amount </label>
									<input type="text" class="form-control" name="fees_total_amount" [(ngModel)]="fees_total_amount" formControlName="fees_total_amount" disabled="disabled">
									<input type="hidden" class="form-control" name="fees_id" [(ngModel)]="fees_id" formControlName="fees_id">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green"> Discount Amount </label>
									<input type="number" class="form-control" name="discount_amount" [(ngModel)]="discount_amount" formControlName="discount_amount" (keyup)="discountChange(discount_amount)" min="0">
									<div class="clearfix"></div>
					            </div>
					        </div>
				        </div>

				        <div class="row">
				        	<div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Amount After Discount </label>
									<input type="text" class="form-control" name="total_amount" [(ngModel)]="total_amount" formControlName="total_amount" disabled="disabled">
									<div class="clearfix"></div>
					            </div>
					        </div>
				          	<div class="col-sm-6" *ngIf="!feepaymenttype">
					            <div class="form-group mt10">
									<label class="text_green">Fees Remark<span class="text-danger">*</span> </label>
									<textarea placeholder="Fees Remark" class="form-control textarea-100" name="fees_remark" [(ngModel)]="fees_remark" formControlName="fees_remark" required></textarea>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.fees_remark.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.fees_remark.errors.required">Please Enter Fees Remark</span>
			              			</div>
					            </div>
					        </div>
				        </div>

				        <div class="table-responsive" *ngIf="feepaymenttype && fees_total_amount != ''">
				        	<table class="table table-striped">
				        		<thead>
					        		<tr>
					        			<td>Payment Due Date<span class="text-danger">*</span></td>
					        			<td>Installment Amount</td>
					        			<td>Paying Amount<span class="text-danger">*</span></td>
					        			<td>Remaining Amount</td>
					        		</tr>
					        	</thead>
					        	<tbody>
									<tr *ngFor="let i of installment; let i = index">
										<td class="hidden">1</td>
										<td>
										<select class="form-control" name="installment_due_date[]" formControlName="installment_due_date" [(ngModel)]="monthId[i]" id="month_id_{{i}}" (change)="monthChange(i)">
							                <option value="" selected="selected">Select Month</option>
							                <option [selected]=" monthId[i] == month.id" [value]="month.id"
							                  *ngFor="let month of months">{{month.value}}</option>
						              	</select>
<!-- 						              	  <mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Month and Year" formControlName="date_{{i}}">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event,i)"
                  (monthSelected)="chosenMonthHandler($event, dp,i)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field> -->
										<div class="clearfix"></div>
										<div class="text-danger" id="montherror_{{i}}">
				              			</div>
				              			</td>
										<td>{{installment_amount}}</td>
										<td style="width: 30%"><input type="number" class="form-control" id="id_{{i}}" name="installment_collected_amount[]" [(ngModel)]="installment_collected_amount[i]" formControlName="installment_collected_amount" (keyup)="collectedinstallmentChange(i)">
										<div class="clearfix"></div>
										<div class="text-danger " id="amounterror_{{i}}">
				              			</div>
				              			</td>
										<td><input type="text" class="form-control" id="remaining_id_{{i}}" name="installment_remaining_amount[]" [(ngModel)]="installment_remaining_amount[i]" formControlName="installment_remaining_amount" disabled="disabled"></td>
									</tr>
								</tbody>
				        	</table>
				        </div>

				        <div class="row">
				          	<div class="col-sm-6" *ngIf="feepaymenttype">
					            <div class="form-group mt10">
									<label class="text_green">Fees Remark<span class="text-danger">*</span> </label>
									<textarea placeholder="Fees Remark" class="form-control textarea-100" name="fees_remark" [(ngModel)]="fees_remark" formControlName="fees_remark" required></textarea>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.fees_remark.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.fees_remark.errors.required">Please Enter Fees Remark</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6">
					            <div class="form-group mt10">
									<label class="text_green">Fees Accepted By<span class="text-danger">*</span> </label>
									<input type="text" placeholder="Enter Fees Accepted By" class="form-control" name="fees_approved_accepted_by_name" [(ngModel)]="fees_approved_accepted_by_name" formControlName="fees_approved_accepted_by_name" disabled="disabled" value="{{fees_approved_accepted_by_name}}">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.fees_approved_accepted_by_name.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.fees_approved_accepted_by_name.errors.required">Please Enter Fees Accepted By</span>
			              			</div>
					            </div>
					        </div>
				        </div>
				        <h3 style="background-color: red;color: white;">Fill Payment Details</h3>

				         <div class="row">
				        	<div class="col-sm-6">
					            <div class="form-group mt10 required">
					            	<label class="text_green">Payment Mode</label>
					            	<br>
									<label *ngFor="let option of payment_mode" style="margin-right: 10px">
						                <label>
						                    <input type="radio"
						                   	name="payment_mode" value="{{option}}" [(ngModel)]="ngpayment_mode" [checked] = "selectedCheckbox == option" formControlName="payment_mode" (change)="updatePaymentOptions(option, $event)"/>
						                    {{option}}
						                </label>
						            </label>
									<br>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.payment_mode.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.payment_mode.errors.required">Select atleast one</span>
			              			</div>
					            </div>
					        </div>
				            <div class="col-sm-6 bank_name">
					            <div class="form-group mt10 required">
					            	<label class="text_green">Bank Name<span class="text-danger">*</span></label>
					            	<br>
									<input type="text" class="form-control" name="bank_name" [(ngModel)]="bank_name" formControlName="bank_name">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.bank_name.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.bank_name.errors.required">Please Enter Bank Name</span>
			              			</div>
									<br>
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.payment_mode.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.payment_mode.errors.required">Select atleast one</span>
			              			</div>
					            </div>
				        	</div>
				        </div>

				        <div class="row">

					        <div class="col-sm-6 cheque_no">
					            <div class="form-group mt10">
									<label class="text_green"> Cheque No<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="cheque_no" [(ngModel)]="cheque_no" formControlName="cheque_no">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.cheque_no.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.cheque_no.errors.required">Please Enter Cheque No</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6 transaction_no">
					            <div class="form-group mt10">
									<label class="text_green"> Transaction No<span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="transaction_id" [(ngModel)]="transaction_id" formControlName="transaction_id">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.transaction_id.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.transaction_id.errors.required">Please Enter Transaction No</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6 transaction_no">
					            <div class="form-group mt10">
									<label class="text_green"> Transaction Date<span class="text-danger">*</span> </label>
									<input ngx-mydatepicker name="transaction_date" (dateChanged)="ontransactionDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxtransactiondate"
							        #dptransaction="ngx-mydatepicker" formControlName="transaction_date" (click)="dptransaction.toggleCalendar()" class="form-control w100" placeholder="Select Transaction Date">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.transaction_date.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.transaction_date.errors.required">Select Transaction Dat</span>
			              			</div>
					            </div>
					        </div>
					        <div class="col-sm-6 cheque_no">
					            <div class="form-group mt10">
									<label class="text_green"> Cheque Date<span class="text-danger">*</span> </label>
									<input ngx-mydatepicker name="transaction_date" (dateChanged)="ontransactionDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxtransactiondate"
							        #dptransaction="ngx-mydatepicker" formControlName="transaction_date" (click)="dptransaction.toggleCalendar()" class="form-control w100" placeholder="Select Transaction Date">
									<div class="clearfix"></div>
									<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
			            				AdmissionTab5Form.controls.transaction_date.errors">
			                			<span *ngIf="AdmissionTab5Form.controls.transaction_date.errors.required">Select Transaction Dat</span>
			              			</div>
					            </div>
					        </div>
				        </div>

			            <div class="form-group">
							<button type="submit" class="btn btn-primary " style="margin-right: 10px">Save</button>
							<button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button>
			            </div>
				      </form>
				</mat-tab>
			</mat-tab-group>
	    </div>
	  </section>
	</div>
</div>