<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div id="main-form-content">
			<!-- <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline"> 
			<div class="col-sm-6">
				<div class="form-group">
	        		<label for="status" class="text_green">Status</label>
	        		<select name="status" [(ngModel)]="status" class="form-control">
	            		<option value="Active"> Active </option>
	            		<option value="In-active">In-active </option>
	          		</select>
	        	</div>
	      	</div>
			<div class="col-sm-12 col-lg-2">
				<button class="btn btn-info">Search</button>
				<button (click)="clearfilter()" class="btn btn-info">Clear</button>
			</div>
			</form> -->
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12">
				<div  class="qtraq-subtitle-wrapper mt20">
					<h1> Albums</h1>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="hidden">Id</th>
							<th>Album Name</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let album of albumList| paginate: { itemsPerPage: this.size, 
		  currentPage: this.page, totalItems: this.totalRecords }">
							<td class="hidden">1</td>
							<td>{{album.album_name}}</td>
							<td>{{album.status}}</td>
							<td>
								<button class="btn btn-danger" routerLink="albumimages/{{album.album_id}}" 
									style="margin-left: 20px;"> View</button>
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
