<section id="contents">
  <div class="welcome">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h2>Welcome to Dashboard</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>