<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div id="main-form-content">
				<div class="col-md-12">
					<div  class="qtraq-subtitle-wrapper mt20">
						<h1> Timetable Details</h1>
					</div>
					<div class="">
						<h5>Timetable Title</h5>
						<p>{{timetable_title}}</p>
					</div>
					<div class="">
						<h5>Cover Image</h5>
						<p><img style="width: 50%;height:50%;padding-top:5px;" src="{{cover_image}}"></p>
					</div>
					<div *ngIf = "timetable_videos">
						<h2><strong>Timetable Videos</strong></h2>
						<div class="table-responsive scroll-table" style="overflow-x:auto;width:100%;">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Video Title</th>
										<th>Video URL</th>
									</tr>
								</thead>
								
								<tbody>	
									<tr *ngFor="let video of timetable_videos">
										<td>{{video.video_title}}</td>
										<td>
											<iframe [src]="iframeUrl(video.video_url)" style="border:0;height:200;width:350px;max-width: 100%" allowFullScreen="true" allow="encrypted-media"></iframe>
										</td>
									</tr>
								</tbody>
							</table>					
						</div>
					</div>
					<div *ngIf = "timetable_documents" style="margin-bottom: 20px">
						<h2><strong>Timetable Documents</strong></h2>
						<div class="table-responsive scroll-table" style="overflow-x:auto;width:100%;">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Document Title</th>
										<th>Description</th>
										<th>Document</th>
									</tr>
								</thead>
								
								<tbody>	
									<tr *ngFor="let doc of timetable_documents">
										<td>{{doc.doc_title}}</td>
										<td>{{doc.doc_description}}</td>
										<td *ngIf = "doc.doc_type === 'doc'"><a routerLink="{{doc.timetable_document_id}}"><i class="fa fa-file" style="font-size:60px;margin-bottom:2px;"></i><br>Pdf Document</a></td>
										<td *ngIf = "doc.doc_type === 'image'"><img style="width: 50%;height:50%;padding-top:5px;" src="{{doc.image_path}}"></td>
									</tr>
								</tbody>
							</table>					
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
