<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div id="main-form-content">
				<form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline"> 
				<div class="col-sm-6 col-lg-3">
					<div class="form-group">
						<input [(ngModel)]="enquiryFilter.inquiryno" placeholder="Lead/Enquiry no" name="inquiryno"   
						#inquiryno="ngModel" class="form-control w100">
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
			      <div class="form-group">
			        <input [(ngModel)]="enquiryFilter.inquirydate"  
			        ngx-mydatepicker
			        name="inquirydate"
			        (dateChanged)="onEnquiryDateChanged($event)" 
			        placeholder="Lead/Enquiry Date"
			        [options]="myOptions"
			          #dp1="ngx-mydatepicker" (click)="dp1.toggleCalendar()"
			        class="form-control w100">
			      </div>
			    </div> 
				<!-- <div class="col-sm-4 col-lg-4">
					<div class="form-group">
		              <select class="form-control" name="academicyear" 
		                [(ngModel)]="enquiryFilter.year">
		                <option value="">Select Academic Year</option>
		                <option [value]="year.academic_year_master_id"
		                  *ngFor="let year of academicyear">{{year.academic_year_master_name}}</option>
		              </select>
		            </div>
				</div> -->
				<div class="col-sm-12 col-lg-2">
					<button class="btn btn-info">Search</button>
					<button (click)="clearfilter()" class="btn btn-info">Clear</button>
				</div>
				</form>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 load_table">
				<div  class="qtraq-subtitle-wrapper mt20">
					<h1> Lead/Enquiry Details</h1>
					<button class="btn btn-danger" routerLink="addeditenquiry"> Add Lead/Enquiry</button>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="hidden">Id</th>
							<th>Student Name</th>
							<th>Type</th>
							<th>Lead/Enquiry No</th>
							<th>Lead/Enquiry Date</th>
							<th>Academic Year</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let enquiry of enquiryList| paginate: { itemsPerPage: this.size, 
		  currentPage: this.page, totalItems: this.totalRecords }">
							<td class="hidden">1</td>
							<td>{{enquiry.student_first_name + " " +enquiry.student_last_name}}</td>
							<td>{{enquiry.rec_type}}</td>
							<td *ngIf="enquiry.rec_type == 'Lead'">LD - {{enquiry.inquiry_no}}</td>
							<td *ngIf="enquiry.rec_type == 'Inquiry'"></td>
							<td *ngIf="enquiry.rec_type == 'Inquiry'">{{enquiry.inquiry_date}}</td>
							<td *ngIf="enquiry.rec_type == 'Lead'"></td>
							<td>{{enquiry.academic_year_name}}</td>
							<td>
								<button class="btn btn-danger" routerLink="addeditenquiry/{{enquiry.inquiry_master_id}}" > Edit</button>
							</td>
						</tr>
					</tbody>
				</table>
				<pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
