<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div class="clearfix"></div>
			<div class="col-md-12">
				<div  class="qtraq-subtitle-wrapper mt20">
					<h1> Dcument Folders</h1>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="hidden">Id</th>
							<th style="width: 70%">Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let doc of documentList| paginate: { itemsPerPage: this.size, 
		  currentPage: this.page, totalItems: this.totalRecords }">
							<td class="hidden">1</td>
							<td>{{doc.folder_name}}</td>
							<td>
								<button class="btn btn-danger" routerLink="viewDocument/{{doc.document_folder_id}}"> View Document</button>
							</td>
						</tr>
					</tbody>
				</table>
				<pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
