<div class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<span class="logo-mini">
			<a  routerLink="/" href="javascript:void(0)" class="main-logo" >
			<img [src]="defaultLogo" class="site-logo" alt="Logo Image">
			</a>
			</span>
		</div>
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group has-feedback">
				<input type="text" formControlName="username" placeholder="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
				<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
					<div *ngIf="f.username.errors.required">Username is required</div>
				</div>
			</div>
			<div class="form-group has-feedback">
				<input type="password" formControlName="password" placeholder="******" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">Password is required</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
						<label>
						</label>
					</div>
				</div>
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
				</div>
			</div>
			</form>
			<p *ngIf="error" class="login-box-msg">{{error}}</p>
			<p *ngIf="massage" class="login-box-msg">{{massage}}</p>
		</div>
	</div>
</div>