.before-title, .title-text {
  font-family: monospace;}

.before-title {
  position: absolute;
  top: 7px;
  left: 7px;
  color: #E9237F;
    z-index: 1 ; 
}
#holder {
    position: relative; 
    overflow: hidden;
}
.title-text {
  line-height: 40px;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  overflow: auto;
  z-index : 99999 ;   
}