<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
	  <section class="content">
	    <div id="main-form-content" class="load_table">
	      <form [formGroup]="EnquiryForm" (ngSubmit)="OnSubmit()" class=" org-form all-com-form"
	        enctype="multipart/form-data">
	        <div class="qtraq-subtitle-wrapper">
	          <h1>Add Lead/Enquiry</h1>
	        </div>
	        <div class="row">
	        	<div class="col-sm-6">
		            <div class="form-group mt10">
		            	<label>Choose Lead/Enquiry</label>
	         			<br>
						<input type="radio" [(ngModel)]="rectype" formControlName="rectype" name="rectype" [value]="true" [checked]="rectype" style="margin-right: 10px" (change) = "rectypeChange(rectype)" [attr.disabled]="leaddisable ? '' : null">Lead
						<input type="radio" [(ngModel)]="rectype" formControlName="rectype" name="rectype" [value]="false" [checked]="!rectype" style="margin-right: 10px" (change) = "rectypeChange(rectype)" [attr.disabled]="enquirydisable ? '' : null">Enquiry
						<div class="clearfix"></div>
		            </div>
		        </div>
	          	<div class="col-sm-6" *ngIf = "rectype">
		            <div class="form-group mt10">
						<label class="text_green"> Lead No </label>
						<input type="text" class="form-control" name="inquiryno" [(ngModel)]="inquiryno" formControlName="inquiryno" readonly="readonly">
						<div class="clearfix"></div>
		            </div>
		        </div>

				<div class="col-sm-6" *ngIf = "!rectype">
		            <div class="form-group mt10 required">
						<label class="text_green"> Academic Year<span class="text-danger">*</span></label>
						<select class="form-control" name="academicyear" formControlName="academicyear" [(ngModel)]="academicyear" [attr.disabled]="disableYear ? '' : null">
			                <option value="" disabled="disabled">Select Academic Year</option>
			                <option [selected]=" academicyear == academy.academic_year_master_id" [value]="academy.academic_year_master_id"
			                  *ngFor="let academy of academicyears">{{academy.academic_year_master_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.academicyear.errors">
                			<span *ngIf="EnquiryForm.controls.academicyear.errors.required">Select Academic Year</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Enquiry Date<span class="text-danger">*</span> </label>
						<input ngx-mydatepicker formControlName="inquirydate" [(ngModel)]="ngxinquirydate" name="inquirydate" (dateChanged)="onEnquiryDateChanged($event)" [options]="myOptionsInquirydate"
				        #dp1="ngx-mydatepicker" (click)="dp1.toggleCalendar()" class="form-control w100" placeholder="Select Enquiry Date" [attr.disabled]="disableEnquirydate ? '' : null">
				        <div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.inquirydate.errors">
                			<span *ngIf="EnquiryForm.controls.inquirydate.errors.required">Select Enquiry Date</span>
              			</div>
		            </div>
		        </div>

				<div class="col-sm-6" *ngIf= "leadenableCreate">
		            <div class="form-group mt10 required">
						<label class="text_green"> Select Lead </label><br>
						<select2 [cssImport]=true  [options]="optionsSelect"  (valueChanged)="getInquiryDetails($event)">
							<option>Select Lead</option>
							<option *ngFor="let lead of leads"> {{ lead }}</option>
						</select2>
		            </div>
		        </div>
		        <div class="col-sm-6" *ngIf= "leaddisableCreate">
		            <div class="form-group mt10 required">
						<label class="text_green"> Lead </label><br>
						<input type="text" class="form-control" name="leadid" [(ngModel)]="leadId" [value]="lead1" formControlName="leadid" readonly="readonly">
		            </div>
		        </div>
	        </div>
			<h3 style="background-color: red;color: white;">CHILD INFORMATION</h3> 
	        <div class="row">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> First Name<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="student_first_name" [(ngModel)]="student_first_name" formControlName="student_first_name"
						placeholder="Enter First Name">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.student_first_name.errors">
                			<span *ngIf="EnquiryForm.controls.student_first_name.errors.required">Please Enter Student First Name</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Last Name<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="student_last_name"[(ngModel)]="student_last_name" formControlName="student_last_name"
						placeholder="Enter Last Name">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.student_last_name.errors">
                			<span *ngIf="EnquiryForm.controls.student_last_name.errors.required">Please Enter Student Last Name</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Date Of Birth<span class="text-danger">*</span> </label>
						<input ngx-mydatepicker name="student_dob" (dateChanged)="onDobChanged($event)" [options]="myOptions" [(ngModel)]="ngxstudentdob"
				        #dp2="ngx-mydatepicker" formControlName="student_dob" (click)="dp2.toggleCalendar()" class="form-control w100" placeholder="Select Birth Date">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.student_dob.errors">
                			<span *ngIf="EnquiryForm.controls.student_dob.errors.required">Select Date Of Birth</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-3">
		            <div class="form-group mt10">
						<label class="text_green"> Years </label>
						<input type="text" class="form-control" name="age_year" [(ngModel)]="age_year" formControlName="age_year" placeholder="Enter Year" disabled="disabled">	
						<div class="clearfix"></div>
		            </div>
		        </div>
		        <div class="col-sm-3">
		            <div class="form-group mt10">
						<label class="text_green"> Months </label>
						<input type="text" class="form-control" name="age_month" [(ngModel)]="age_month" formControlName="age_month" placeholder="Enter Months" disabled="disabled">
						<div class="clearfix"></div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Category<span class="text-danger">*</span> </label>
						<select class="form-control" name="category_id" formControlName="category_id" [(ngModel)]="categoryId" (change)="getCourses(categoryId)">
			                <option value="" selected="selected">Select Category</option>
			                <option [selected]=" categoryId == cat.category_id" [value]="cat.category_id"
			                  *ngFor="let cat of category">{{cat.categoy_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.category_id.errors">
                			<span *ngIf="EnquiryForm.controls.category_id.errors.required">Select Category</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Course<span class="text-danger">*</span> </label>
						<select class="form-control" name="course_id" formControlName="course_id" [(ngModel)]="courseId">
			                <option value="">Select Course</option>
			                <option [selected]=" courseId == course.course_id" [value]="course.course_id"
			                  *ngFor="let course of courses">{{course.course_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.course_id.errors">
                			<span *ngIf="EnquiryForm.controls.course_id.errors.required">Select Course</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10">
		            	<label>Gender</label>
	         			<br>
						<input type="radio" [(ngModel)]="gender" formControlName="gender" name="gender" [value]="true" [checked]="gender">Male
						<input type="radio" [(ngModel)]="gender" formControlName="gender" name="gender" [value]="false"[checked]="!gender">Female
						<div class="clearfix"></div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10">
	         			<label>Has Child attended preschool before?</label>
	         			<br>
						<input type="radio" name="has_attended_preschool_before" [value]="true" [(ngModel)]="has_attended_preschool_before" formControlName="has_attended_preschool_before"[checked]="has_attended_preschool_before">Yes
						<input type="radio" name="has_attended_preschool_before" [value]="false" [(ngModel)]="has_attended_preschool_before" formControlName="has_attended_preschool_before" [checked]="!has_attended_preschool_before">No
						<div class="clearfix"></div>
		            </div>
		        </div>
	        </div>

			<div class="row" *ngIf="has_attended_preschool_before && !rectype">
	         	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Preschool Name<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="preschool_name" [(ngModel)]="preschool_name" formControlName="preschool_name"
						placeholder="Enter Preschool Name">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.preschool_name.errors">
                			<span *ngIf="EnquiryForm.controls.preschool_name.errors.required">Enter Preschool Name</span>
              			</div>
		            </div>
		        </div>
	        </div>
	        <h3 style="background-color: red;color: white;">FAMILY INFORMATION</h3>
	        <div class="row">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Father's Name<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="father_name" [(ngModel)]="father_name" formControlName="father_name"
						placeholder="Enter Father Name">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_name.errors">
                			<span *ngIf="EnquiryForm.controls.father_name.errors.required">Please Enter Father Name</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6" *ngIf = "!rectype">
		            <div class="form-group mt10 required">
						<label class="text_green"> Mother's Name<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="mother_name" [(ngModel)]="mother_name" formControlName="mother_name"
						placeholder="Enter Mother Name">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.mother_name.errors">
                			<span *ngIf="EnquiryForm.controls.mother_name.errors.required">Please Enter Student Mother Name</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6" *ngIf = "rectype">
		            <div class="form-group mt10 required">
						<label class="text_green"> Country<span class="text-danger">*</span> </label>
						<select class="form-control" name="country_id" formControlName="country_id" [(ngModel)]="countryId" (change)="getState(countryId)">
			                <option value="" selected="selected">Select Country</option>
			                <option [selected]=" countryId == country.country_id" [value]="country.country_id"
			                  *ngFor="let country of countries">{{country.country_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.country_id.errors">
                			<span *ngIf="EnquiryForm.controls.country_id.errors.required">Select Country</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "rectype">
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> State<span class="text-danger">*</span> </label>
						<select class="form-control" name="state_id" formControlName="state_id" [(ngModel)]="stateId" (change)="getCity(stateId)">
			                <option value="">Select State</option>
			                <option [selected]=" stateId == state.state_id" [value]="state.state_id"
			                  *ngFor="let state of states">{{state.state_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.state_id.errors">
                			<span *ngIf="EnquiryForm.controls.state_id.errors.required">Select State</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> City<span class="text-danger">*</span> </label>
						<select class="form-control" name="city_id" formControlName="city_id" [(ngModel)]="cityId">
			                <option value="" selected="selected">Select City</option>
			                <option [selected]=" cityId == city.city_id" [value]="city.city_id"
			                  *ngFor="let city of cities">{{city.city_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.city_id.errors">
                			<span *ngIf="EnquiryForm.controls.city_id.errors.required">Select City</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "rectype">
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Pincode<span class="text-danger">*</span> </label>
						<input type="number" class="form-control" name="pincode" [(ngModel)]="pincode" formControlName="pincode"
						placeholder="Enter Pincode">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.pincode.errors">
                			<span *ngIf="EnquiryForm.controls.pincode.errors.required">Please Enter Pincode</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green">Father Contact Number<span class="text-danger">*</span> </label>
						<input type="number" class="form-control" name="father_contact_no" [(ngModel)]="father_contact_no" formControlName="father_contact_no"
						placeholder="Enter Father Contact No">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_contact_no.errors">
                			<span *ngIf="EnquiryForm.controls.father_contact_no.errors.required">Please Enter Father Contact No</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "rectype">
		        <div class="col-sm-6">
		            <div class="form-group mt10">
						<label class="text_green"> Father's Email Id<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="father_emailid" [(ngModel)]="father_emailid" formControlName="father_emailid"
						placeholder="Enter Father Email Id">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_emailid.errors">
                			<span *ngIf="EnquiryForm.controls.father_emailid.errors.email">Enter Proper Email</span>
              			</div>
		            </div>
		        </div>
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Enquiry Status<span class="text-danger">*</span> </label>
						<select class="form-control" name="inquirystatus" formControlName="inquirystatus" [(ngModel)]="statusId">
			                <option value="" selected="selected">Select  Enquiry Status</option>
						    <option [selected]=" statusId == st" [value]="st"
						    *ngFor="let st of stauts">{{st}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.inquirystatus.errors">
                			<span *ngIf="EnquiryForm.controls.inquirystatus.errors.required">Select Enquiry Status</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "rectype">
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Enquiry Progress<span class="text-danger">*</span> </label>
						<select class="form-control" name="inquiryprogress" formControlName="inquiryprogress" [(ngModel)]="progressId">
			                <option value="" selected="selected">Select Enquiry Progress</option>
						    <option [selected]=" progressId == pr" [value]="pr"
						    *ngFor="let pr of progress">{{pr}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.inquiryprogress.errors">
                			<span *ngIf="EnquiryForm.controls.inquiryprogress.errors.required">Select Enquiry Progress</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
	          	<div class="col-sm-12">
		            <div class="form-group mt10">
						<label class="text_green">Present Address<span class="text-danger">*</span> </label>
						<textarea type="text" placeholder="Present Address" class="form-control textarea-150" name="present_address" [(ngModel)]="present_address" formControlName="present_address" required></textarea>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.present_address.errors">
                			<span *ngIf="EnquiryForm.controls.present_address.errors.required">Please Enter Present Address</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row"  *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Country<span class="text-danger">*</span> </label>
						<select class="form-control" name="country_id" formControlName="country_id" [(ngModel)]="countryId" (change)="getState(countryId)">
			                <option value="" selected="selected">Select Country</option>
			                <option [selected]=" countryId == country.country_id" [value]="country.country_id"
			                  *ngFor="let country of countries">{{country.country_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.country_id.errors">
                			<span *ngIf="EnquiryForm.controls.country_id.errors.required">Select Country</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> State<span class="text-danger">*</span> </label>
						<select class="form-control" name="state_id" formControlName="state_id" [(ngModel)]="stateId" (change)="getCity(stateId)">
			                <option value="">Select State</option>
			                <option [selected]=" stateId == state.state_id" [value]="state.state_id"
			                  *ngFor="let state of states">{{state.state_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.state_id.errors">
                			<span *ngIf="EnquiryForm.controls.state_id.errors.required">Select State</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row"  *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> City<span class="text-danger">*</span> </label>
						<select class="form-control" name="city_id" formControlName="city_id" [(ngModel)]="cityId">
			                <option value="" selected="selected">Select City</option>
			                <option [selected]=" cityId == city.city_id" [value]="city.city_id"
			                  *ngFor="let city of cities">{{city.city_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.city_id.errors">
                			<span *ngIf="EnquiryForm.controls.city_id.errors.required">Select City</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Pincode<span class="text-danger">*</span> </label>
						<input type="number" class="form-control" name="pincode" [(ngModel)]="pincode" formControlName="pincode"
						placeholder="Enter Pincode">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.pincode.errors">
                			<span *ngIf="EnquiryForm.controls.pincode.errors.required">Please Enter Pincode</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green">Father Contact Number<span class="text-danger">*</span> </label>
						<input type="number" class="form-control" name="father_contact_no" [(ngModel)]="father_contact_no" formControlName="father_contact_no"
						placeholder="Enter Father Contact No">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_contact_no.errors">
                			<span *ngIf="EnquiryForm.controls.father_contact_no.errors.required">Please Enter Father Contact No</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10">
						<label class="text_green">Mother Contact Number<span class="text-danger">*</span> </label>
						<input type="number" class="form-control" name="mother_contact_no" [(ngModel)]="mother_contact_no" formControlName="mother_contact_no"
						placeholder="Enter Mother Contact No">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.mother_contact_no.errors">
                			<span *ngIf="EnquiryForm.controls.mother_contact_no.errors.required">Please Enter Mothetr Contact No</span>
              			</div>
		            </div>
		        </div>
	        </div>


	        <div class="row" *ngIf = "!rectype">
		        <div class="col-sm-6">
		            <div class="form-group mt10">
						<label class="text_green"> Father's Email Id<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="father_emailid" [(ngModel)]="father_emailid" formControlName="father_emailid"
						placeholder="Enter Father Email Id">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_emailid.errors">
                			<span *ngIf="EnquiryForm.controls.father_emailid.errors.email">Enter Proper Email</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10">
						<label class="text_green"> Mother Email Id<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="mother_emailid" [(ngModel)]="mother_emailid" formControlName="mother_emailid"
						placeholder="Enter Mother Email Id">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.mother_emailid.errors">
                			<span *ngIf="EnquiryForm.controls.mother_emailid.errors.email">Enter Proper Email</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Father's Education<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="father_education" [(ngModel)]="father_education" formControlName="father_education" placeholder="Enter Father Education">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_education.errors">
                			<span *ngIf="EnquiryForm.controls.father_education.errors.required">Please Enter  Father Education</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Mother Education<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="mother_education" [(ngModel)]="mother_education" formControlName="mother_education" placeholder="Enter Mother Education">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.mother_education.errors">
                			<span *ngIf="EnquiryForm.controls.mother_education.errors.required">Please Enter  Mother Education</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Father's Profession<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="father_profession" [(ngModel)]="father_profession" formControlName="father_profession" placeholder="Enter Father Profession">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.father_profession.errors">
                			<span *ngIf="EnquiryForm.controls.father_profession.errors.required">Please Enter  Father Profession</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Mother Profession<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="mother_profession" [(ngModel)]="mother_profession" formControlName="mother_profession" placeholder="Enter Mother Profession">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.mother_profession.errors">
                			<span *ngIf="EnquiryForm.controls.mother_profession.errors.required">Please Enter  Mother Profession</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!rectype">
		        <div class="col-sm-12">
		            <div class="form-group mt10 required">
		            	<label class="text_green">How did you come to know about the school?</label>
		            	<br>
						<label *ngFor="let option of how_know_about_school">
			                <label style="margin-right: 10px">
			                    <input type="radio"
			                           name="how_know_about_school"
			                           value="{{option}}" [(ngModel)]="nghow_know_about_school" [checked] = "selectedCheckbox == option" formControlName="how_know_about_school"
			                           (change)="updateCheckedOptions(option, $event)"/>
			                    {{option}}
			                </label>
			            </label>
						<br>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.how_know_about_school.errors">
                			<span *ngIf="EnquiryForm.controls.how_know_about_school.errors.required">Select atleast one</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row">
	        	<div class="col-sm-12 other">
		            <div class="form-group mt10 required">
						<label class="text_green"> Others<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="how_know_about_other" [(ngModel)]="how_know_about_other" formControlName="how_know_about_other"
						placeholder="Enter Other">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.how_know_about_other.errors">
                			<span *ngIf="EnquiryForm.controls.how_know_about_other.errors.required">Enter how to know about school</span>
              			</div>
		            </div>
		        </div>
	        </div>

	         <div class="row" *ngIf = "!rectype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Enquiry Status<span class="text-danger">*</span> </label>
						<select class="form-control" name="inquirystatus" formControlName="inquirystatus" [(ngModel)]="statusId">
			                <option value="" selected="selected">Select  Enquiry Status</option>
						    <option [selected]=" statusId == st" [value]="st"
						    *ngFor="let st of stauts">{{st}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.inquirystatus.errors">
                			<span *ngIf="EnquiryForm.controls.inquirystatus.errors.required">Select Enquiry Status</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Enquiry Progress<span class="text-danger">*</span> </label>
						<select class="form-control" name="inquiryprogress" formControlName="inquiryprogress" [(ngModel)]="progressId">
			                <option value="" selected="selected">Select Enquiry Progress</option>
						    <option [selected]=" progressId == pr" [value]="pr"
						    *ngFor="let pr of progress">{{pr}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.inquiryprogress.errors">
                			<span *ngIf="EnquiryForm.controls.inquiryprogress.errors.required">Select Enquiry Progress</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row">
	          	<div class="col-sm-12">
		            <div class="form-group mt10">
						<label class="text_green">Remark (For Office Use)<span class="text-danger">*</span> </label>
						<div id="holder"><textarea class="form-control textarea-150 remark title-text" placeholder="" name="inquiry_remark" id="myTextarea" formControlName="inquiry_remark" [(ngModel)]="inquiry_remark" [innerHTML]="inquiry_remarks"></textarea>
						<span class="before-title">{{remark_date}}<br/></span>

    					<span id="testscrol"></span></div>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="enquiryFormSubmitted && 
            				EnquiryForm.controls.inquiry_remark.errors">
                			<span *ngIf="EnquiryForm.controls.inquiry_remark.errors.required">Enter Remark</span>
              			</div>
		            </div>
		        </div>
		        <input type="hidden" name="hidden_remark" id="hidden_remark">
	        </div>
	        
	        <div class="row">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Handled By<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="inquiry_handled_by" [(ngModel)]="inquiry_handled_by" formControlName="inquiry_handled_by" disabled="disabled" [value]="inquiry_handled_by">
						<div class="clearfix"></div>
		            </div>
		        </div>
	        </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="margin-right: 10px">Save</button>
              <button type="button" routerLink="/enquirylist" class="btn btn-primary ">Cancel</button>
            </div>
	      </form>
	    </div>
	  </section>
	</div>
</div>