<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div class="clearfix"></div>
			<div class="col-md-12">
				<div  class="qtraq-subtitle-wrapper mt20">
					<h1> Timetables</h1>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="hidden">Id</th>
							<th>Timetable Title</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let timetable of timetableList| paginate: { itemsPerPage: this.size, 
		  currentPage: this.page, totalItems: this.totalRecords }">
							<td class="hidden">1</td>
							<td>{{timetable.timetable_title}}</td>
							<td *ngIf = "timetable.is_timetable_visible">
								<button class="btn btn-danger" routerLink="viewTimetable/{{timetable.timetable_id}}"> View Timetable</button>
							</td>
							<td *ngIf = "!timetable.is_timetable_visible"> View Timetable
							</td>
						</tr>
					</tbody>
				</table>
				<pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
