<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid" class="load_table">
	  <section class="content">
	    <div id="main-form-content">
	      <form [formGroup]="AdmissionRemainigPayFees" (ngSubmit)="OnSubmit()" class=" org-form all-com-form"
	        enctype="multipart/form-data">
	        <div class="qtraq-subtitle-wrapper">
	          <h1>Admission Reamining Pay Fees Process</h1>
	        </div>
	        <div class="row">
				<div class="col-sm-6">
		            <div class="form-group mt10">
		            	<label>Fees Selection Type</label>
	         			<br>
						<input type="radio" [(ngModel)]="feestype" formControlName="feestype" name="feestype" [value]="true" [checked]="feestype" disabled="disabled" style="margin-right: 10px">Group
						<input type="radio" [(ngModel)]="feestype" formControlName="feestype" name="feestype" [value]="false"[checked]="!feestype" style="margin-right: 10px">Class
						<div class="clearfix"></div>
		            </div>
		        </div>
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Category<span class="text-danger">*</span> </label>
						<select class="form-control" name="categoryid" formControlName="categoryid" [(ngModel)]="categoryId" (change)="getCourses(categoryId);getStudent(categoryId,courseId,batchId)">
			                <option value="" selected="selected">Select Category</option>
			                <option [selected]=" categoryId == cat.category_id" [value]="cat.category_id"
			                  *ngFor="let cat of category">{{cat.categoy_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
            				AdmissionRemainigPayFees.controls.categoryid.errors">
                			<span *ngIf="AdmissionRemainigPayFees.controls.categoryid.errors.required">Select Category</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row">
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Course<span class="text-danger">*</span> </label>
						<select class="form-control" name="courseid" formControlName="courseid" [(ngModel)]="courseId" (change)="getCenterUserBatches(categoryId,courseId);getStudent(categoryId,courseId,batchId)">
			                <option value="">Select Course</option>
			                <option [selected]=" courseId == course.course_id" [value]="course.course_id"
			                  *ngFor="let course of courses">{{course.course_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
            				AdmissionRemainigPayFees.controls.courseid.errors">
                			<span *ngIf="AdmissionRemainigPayFees.controls.courseid.errors.required">Select Course</span>
              			</div>
		            </div>
		        </div>
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Batch<span class="text-danger">*</span> </label>
						<select class="form-control" name="batchid" formControlName="batchid" [(ngModel)]="batchId" (change)="getStudent(categoryId,courseId,batchId)">
			                <option value="" selected="selected">Select Batch</option>
			                <option [selected]=" batchId == batch.batch_id" [value]="batch.batch_id"
			                  *ngFor="let batch of batches">{{batch.batch_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
            				AdmissionRemainigPayFees.controls.batchid.errors">
                			<span *ngIf="AdmissionRemainigPayFees.controls.batchid.errors.required">Select Batch</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row">
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Select Student<span class="text-danger">*</span> </label><br>
						<select2 [cssImport]=true  [options]="optionsSelect"  (valueChanged)="getStudentDetails($event)">
							<option>Select Student</option>
							<option *ngFor="let student of students"[value]="student.student_id"> {{ student.enrollment_no +' ('+student.student_first_name +' '+ student.student_last_name +')' }}</option>
						</select2>
						<div class="clearfix"></div>
		            </div>
		        </div>
	        </div>

	        <div *ngIf = "payFees">
		        <h3 style="background-color: red;color: white;">Fill Payment Details</h3>

		         <div class="row">
		         	<div class="col-sm-6">
		         		<div class="form-group mt10">
			            	<label>Fees Type</label>
		         			<br>
							<input type="radio" [(ngModel)]="feepaymenttype" formControlName="feepaymenttype" name="feepaymenttype" [value]="true" [checked]="feepaymenttype" disabled="disabled">Insatllment
							<input type="radio" [(ngModel)]="feepaymenttype" formControlName="feepaymenttype" name="feepaymenttype" [value]="false"[checked]="!feepaymenttype" disabled="disabled">Lumsum
							<div class="clearfix"></div>
			            </div>
			        </div>
		          	<div class="col-sm-6">
			            <div class="form-group mt10">
							<label class="text_green"> Total Amount </label>
							<input type="text" class="form-control" name="fees_total_amount" [(ngModel)]="fees_total_amount" formControlName="fees_total_amount" disabled="disabled">
			            </div>
			        </div>
		        </div>

		        <div class="row">
		          	<div class="col-sm-6">
			            <div class="form-group mt10">
							<label class="text_green"> Amount Collected </label>
							<input type="text" class="form-control" name="fees_amount_collected" [(ngModel)]="fees_amount_collected" formControlName="fees_amount_collected" disabled="disabled">
							<div class="clearfix"></div>
			            </div>
			        </div>
			        <div class="col-sm-6">
			            <div class="form-group mt10">
							<label class="text_green"> Amount Remaining </label>
							<input type="text" class="form-control" name="fees_remaining_amount" [(ngModel)]="fees_remaining_amount" formControlName="fees_remaining_amount" disabled="disabled">
							<div class="clearfix"></div>
			            </div>
			        </div>
		        </div>

		        <div class="table-responsive" *ngIf="feepaymenttype">
		        	<table class="table table-striped">
		        		<thead>
			        		<tr>
			        			<td>Payment Due Date</td>
			        			<td>Installment Amount</td>
			        			<td>Collected Amount</td>
			        			<td>Paying Amount<span class="text-danger">*</span></td>
			        			<td>Remaining Amount</td>
			        		</tr>
			        	</thead>
			        	<tbody>
							<tr *ngFor="let insatll of installment; let i = index">
								<td *ngIf="insatll.instalment_amount != insatll.instalment_collected_amount"><input type="text" class="form-control" value="{{insatll.instalment_due_date}}" disabled="disabled">
		              			</td>
								<td *ngIf="insatll.instalment_amount != insatll.instalment_collected_amount"><input type="text" class="form-control" value="{{insatll.instalment_amount}}" disabled="disabled"></td>
								<td *ngIf="insatll.instalment_amount != insatll.instalment_collected_amount"><input type="text" class="form-control" value="{{insatll.instalment_collected_amount}}" disabled="disabled" id="collected_amount_{{i}}"></td>
								<td *ngIf="insatll.instalment_amount != insatll.instalment_collected_amount"><input type="number" class="form-control" id="id_{{i}}" name="installment_collected_amount[]" formControlName="installment_collected_amount" (keyup)="collectedinstallmentChange(i)">
										<div class="clearfix"></div>
										<div class="text-danger " id="amounterror_{{i}}">
										</div>
		              			</td>
								<td *ngIf="insatll.instalment_amount != insatll.instalment_collected_amount"><input type="text" class="form-control" id="remaining_id_{{i}}" name="installment_remaining_amount[]" formControlName="installment_remaining_amount" disabled="disabled" value="{{insatll.instalment_remaining_amount}}"
								>
								<input type="hidden" name="admission_fees_instalment_id" formControlName="admission_fees_instalment_id" value="{{insatll.admission_fees_instalment_id}}" id="admission_fees_instalment_id_{{i}}"></td>
							</tr>
						</tbody>
		        	</table>
		        </div>
		    </div>

		    <div class="row">
	          	<div class="col-sm-6">
		            <div class="form-group mt10">
						<label class="text_green">Fees Remark<span class="text-danger">*</span> </label>
						<textarea placeholder="Fees Remark" class="form-control textarea-100" name="fees_remark" [(ngModel)]="fees_remark" formControlName="fees_remark" required></textarea>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
            				AdmissionRemainigPayFees.controls.fees_remark.errors">
                			<span *ngIf="AdmissionRemainigPayFees.controls.fees_remark.errors.required">Please Enter Fees Remark</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10">
						<label class="text_green">Fees Accepted By<span class="text-danger">*</span> </label>
						<input type="text" placeholder="Enter Fees Accepted By" class="form-control" name="fees_approved_accepted_by_name" [(ngModel)]="fees_approved_accepted_by_name" formControlName="fees_approved_accepted_by_name" disabled="disabled" value="{{fees_approved_accepted_by_name}}">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionFormSubmitted && 
            				AdmissionRemainigPayFees.controls.fees_approved_accepted_by_name.errors">
                			<span *ngIf="AdmissionRemainigPayFees.controls.fees_approved_accepted_by_name.errors.required">Please Enter Fees Accepted By</span>
              			</div>
		            </div>
		        </div>
	        </div>
	        <h3 style="background-color: red;color: white;">Fill Payment Details</h3>

	         <div class="row">
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
		            	<label class="text_green">Payment Mode</label>
		            	<br>
						<label *ngFor="let option of payment_mode" style="margin-right: 10px">
			                <label>
			                    <input type="radio"
			                   	name="payment_mode" value="{{option}}" [(ngModel)]="ngpayment_mode" [checked] = "selectedCheckbox == option" formControlName="payment_mode" (change)="updatePaymentOptions(option, $event)"/>
			                    {{option}}
			                </label>
			            </label>
						<br>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.payment_mode.errors">
                			<span *ngIf="AdmissionTab5Form.controls.payment_mode.errors.required">Select atleast one</span>
              			</div>
		            </div>
		        </div>
	            <div class="col-sm-6 bank_name">
		            <div class="form-group mt10 required">
		            	<label class="text_green">Bank Name<span class="text-danger">*</span></label>
		            	<br>
						<input type="text" class="form-control" name="bank_name" [(ngModel)]="bank_name" formControlName="bank_name">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.bank_name.errors">
                			<span *ngIf="AdmissionTab5Form.controls.bank_name.errors.required">Please Enter Bank Name</span>
              			</div>
						<br>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.payment_mode.errors">
                			<span *ngIf="AdmissionTab5Form.controls.payment_mode.errors.required">Select atleast one</span>
              			</div>
		            </div>
	        	</div>
	        </div>

	        <div class="row">

		        <div class="col-sm-6 cheque_no">
		            <div class="form-group mt10">
						<label class="text_green"> Cheque No<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="cheque_no" [(ngModel)]="cheque_no" formControlName="cheque_no">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.cheque_no.errors">
                			<span *ngIf="AdmissionTab5Form.controls.cheque_no.errors.required">Please Enter Cheque No</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6 transaction_no">
		            <div class="form-group mt10">
						<label class="text_green"> Transaction No<span class="text-danger">*</span> </label>
						<input type="text" class="form-control" name="transaction_id" [(ngModel)]="transaction_id" formControlName="transaction_id">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.transaction_id.errors">
                			<span *ngIf="AdmissionTab5Form.controls.transaction_id.errors.required">Please Enter Transaction No</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6 transaction_no">
		            <div class="form-group mt10">
						<label class="text_green"> Transaction Date<span class="text-danger">*</span> </label>
						<input ngx-mydatepicker name="transaction_date" (dateChanged)="ontransactionDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxtransactiondate"
				        #dptransaction="ngx-mydatepicker" formControlName="transaction_date" (click)="dptransaction.toggleCalendar()" class="form-control w100" placeholder="Select Transaction Date">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.transaction_date.errors">
                			<span *ngIf="AdmissionTab5Form.controls.transaction_date.errors.required">Select Transaction Dat</span>
              			</div>
		            </div>
		        </div>
		        
		        <div class="col-sm-6 cheque_no">
		            <div class="form-group mt10">
						<label class="text_green"> Cheque Date<span class="text-danger">*</span> </label>
						<input ngx-mydatepicker name="transaction_date" (dateChanged)="ontransactionDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxtransactiondate"
				        #dptransaction="ngx-mydatepicker" formControlName="transaction_date" (click)="dptransaction.toggleCalendar()" class="form-control w100" placeholder="Select Transaction Date">
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AdmissionForm5Submitted && 
            				AdmissionTab5Form.controls.transaction_date.errors">
                			<span *ngIf="AdmissionTab5Form.controls.transaction_date.errors.required">Select Transaction Dat</span>
              			</div>
		            </div>
		        </div>
	        </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="margin-right: 10px">Save</button>
              <button type="button" routerLink="/enquirylist" class="btn btn-primary ">Cancel</button>
            </div>
	      </form>
	    </div>
	  </section>
	</div>
</div>