<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid" class="load_table">
	  <section class="content">
	    <div id="main-form-content">
	      <form [formGroup]="markAttendence" (ngSubmit)="OnSubmit()" class=" org-form all-com-form"
	        enctype="multipart/form-data">
	        <div class="qtraq-subtitle-wrapper">
	          <h1>Mark Attendence</h1>
	        </div>
	        <div class="row">
				<div class="col-sm-6">
		            <div class="form-group mt10">
		            	<label>Fees Selection Type</label>
	         			<br>
						<input type="radio" [(ngModel)]="feesselectiontype" formControlName="feesselectiontype" name="feesselectiontype" [value]="true" [checked]="feesselectiontype"  style="margin-right: 10px" (change)="feestypeChange(feesselectiontype)">Group
						<input type="radio" [(ngModel)]="feesselectiontype" formControlName="feesselectiontype" name="feesselectiontype" [value]="false"[checked]="!feesselectiontype" style="margin-right: 10px" (change)="feestypeChange(feesselectiontype)">Class
						<div class="clearfix"></div>
		            </div>
		        </div>
		        <div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Attendence Date<span class="text-danger">*</span> </label>
						<input ngx-mydatepicker name="attendancedate" (dateChanged)="onattendanceDateChanged($event)" [options]="myOptions" [(ngModel)]="ngxattendancendate"
				        #dp1="ngx-mydatepicker" formControlName="attendancedate" (click)="dp1.toggleCalendar()" class="form-control w100" placeholder="Select Attendence Date">
						<div class="clearfix"></div>
                		<span id="attendancedate_error" class="text-danger"></span>
						<div class="text-danger " *ngIf="AttendenceFormSubmitted && 
            				markAttendence.controls.attendancedate.errors">
                			<span *ngIf="markAttendence.controls.attendancedate.errors.required">Select Attendence Date</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row" *ngIf = "!feesselectiontype">
	          	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Category<span class="text-danger">*</span> </label>
						<select class="form-control" name="categoryid" formControlName="categoryid" [(ngModel)]="categoryId" (change)="getCourses(categoryId);getStudent(categoryId,courseId,batchId,groupId)">
			                <option value="" selected="selected">Select Category</option>
			                <option [selected]=" categoryId == cat.category_id" [value]="cat.category_id"
			                  *ngFor="let cat of category">{{cat.categoy_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AttendenceFormSubmitted && 
            				markAttendence.controls.categoryid.errors">
                			<span *ngIf="markAttendence.controls.categoryid.errors.required">Select Group</span>
              			</div>
		            </div>
		        </div>
	        	<div class="col-sm-6">
		            <div class="form-group mt10 required">
						<label class="text_green"> Course<span class="text-danger">*</span> </label>
						<select class="form-control" name="courseid" formControlName="courseid" [(ngModel)]="courseId" (change)="getCenterUserBatches(categoryId,courseId);getStudent(categoryId,courseId,batchId,groupId)">
			                <option value="">Select Course</option>
			                <option [selected]=" courseId == course.course_id" [value]="course.course_id"
			                  *ngFor="let course of courses">{{course.course_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AttendenceFormSubmitted && 
            				markAttendence.controls.courseid.errors">
                			<span *ngIf="markAttendence.controls.courseid.errors.required">Select Course</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="row">
	        	<div class="col-sm-6" *ngIf = "!feesselectiontype">
		            <div class="form-group mt10 required">
						<label class="text_green"> Batch<span class="text-danger">*</span> </label>
						<select class="form-control" name="batchid" formControlName="batchid" [(ngModel)]="batchId" (change)="getStudent(categoryId,courseId,batchId,groupId)">
			                <option value="" selected="selected">Select Batch</option>
			                <option [selected]=" batchId == batch.batch_id" [value]="batch.batch_id"
			                  *ngFor="let batch of batches">{{batch.batch_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AttendenceFormSubmitted && 
            				markAttendence.controls.batchid.errors">
                			<span *ngIf="markAttendence.controls.batchid.errors.required">Select Batch</span>
              			</div>
		            </div>
		        </div>
		        <div class="col-sm-6" *ngIf = "feesselectiontype">
		            <div class="form-group mt10 required">
						<label class="text_green"> Group<span class="text-danger">*</span> </label>
						<select class="form-control" name="groupid" formControlName="groupid" [(ngModel)]="groupId" (change)="getStudent(categoryId,courseId,batchId,groupId)">
			                <option value="" selected="selected">Select Group</option>
			                <option [selected]=" groupId == grp.group_master_id" [value]="grp.group_master_id"
			                  *ngFor="let grp of groups">{{grp.group_master_name}}</option>
		              	</select>
						<div class="clearfix"></div>
						<div class="text-danger " *ngIf="AttendenceFormSubmitted && 
            				markAttendence.controls.groupid.errors">
                			<span *ngIf="markAttendence.controls.groupid.errors.required">Select Category</span>
              			</div>
		            </div>
		        </div>
	        </div>

	        <div class="table-responsive" *ngIf="getstudent">
	        	<table class="table table-striped">
	        		<thead>
		        		<tr>
		        			<td><input type="checkbox" id="checkedAll"name="all" formControlName="all"  [(ngModel)]="all" (change)="checkboxChange(all)"></td>
		        			<td>Enrollment No</td>
		        			<td>Student Name</td>
		        		</tr>
		        	</thead>
		        	<tbody>
						<tr *ngFor="let student of students; let i = index">
							<td><input type="checkbox" id="singlecheckbox_{{i}}" name="single"  class="singleChecked" (change)="checkboxSingleChange(i)"><input type="hidden" name="student_id" value="{{student.student_id}}" id="student_{{i}}">
	              			</td>
							<td>{{student.enrollment_no}}</td>
							<td>{{student.student_first_name + ' ' + student.student_last_name}}</td>
						</tr>
					</tbody>
	        	</table>
	        </div>

	        <div class="row" style="float: left;width: 100%">
	        	<div class="col-sm-6">
			        <input type="hidden" formControlName="student_array"  [(ngModel)]="student_array">
			        <div class="text-danger " *ngIf="AttendenceFormSubmitted && 
						markAttendence.controls.student_array.errors">
		    			<span *ngIf="markAttendence.controls.student_array.errors.required">Select Student</span>
		  			</div>
		  		</div>
	  		</div><br>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="margin-right: 10px">Save</button>
              <button type="button" routerLink="/enquirylist" class="btn btn-primary ">Cancel</button>
            </div>
	      </form>
	    </div>
	  </section>
	</div>
</div>