<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
	  <section class="content">
	    <div id="main-form-content">
	    	<div class="row">
	    		<div class="col-md-12">
					<div  class="mb20" style="float: right">
						<button class="btn btn-danger" data-toggle="modal" data-target="#myModal"> Upload Image</button>
					</div>
				</div>
				<div class="col-md-12">
			    	<div *ngFor="let image of images" class="row">
			    		<div class="col-md-12"><h4 style="color: black;">{{image.uploaded_on}}</h4></div>
			    		<div *ngFor="let img of image.images"  class="col-md-4">
						    <div>
						      	<div class="thumbnail" style="float: left;width: 100%">
						       		<img src="{{img.album_pic_path}}" alt="Lights" style="width:100%;height: 200px">
									<div class="caption pull-right">
										<a><i style="font-size: 24px" class="fa fa-trash" (click)="deleteImage(img.album_image_id)" aria-hidden="true"></i></a>
									</div>
						     	 </div>
						    </div>
			    		</div>
			    	</div> 
			    </div>
	    	</div>
	    </div>
	  </section>
	</div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog" style="margin-top: 130px">
		<div class="modal-content">

		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Upload Image</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>

		<!-- Modal body -->
		<div class="modal-body">
			<form [formGroup]="ImageForm" (ngSubmit)="OnSubmit()" class=" org-form all-com-form" enctype="multipart/form-data">
				<div class="">
                	<!-- <input type="file" class="form-control custom-img " name="albumpic" formControlName="albumpic"
                  [required]="albumpic == ''" (change)="onFileChange($event)"> -->
                  	<div class="inputfile-box">
                      <input class="inputfile" id="file" type="file" (change)="onFileChange($event)" name="albumpic" formControlName="albumpic">
                      <label for="file"><span class="file-box" id="file-name"></span><span class="file-button">Upload</span></label>
                    </div>
              	</div>
              	<br>
              	<div class="form-group">
					<button type="submit" class="btn btn-primary ">Save</button>
					<!-- <button type="button" routerLink="/admissionlist" class="btn btn-primary ">Cancel</button> -->
	            </div>
              	<div class="clearfix"></div>
			</form>
		</div>

		</div>
	</div>
</div>