<aside class="side-nav" id="show-side-navigation1">
  <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
  <div class="heading">
    <img src="https://cardboardchallenge.com/wp-content/uploads/2018/07/aptech-montana-logo.jpg" alt="">
  </div>
  <ul class="categories">
    <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/']"> dashboard</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/enquirylist']"> Enquiry</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/admissionlist']"> Admission</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/remainingfees']"> Remainig Fees</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/albumlist']"> Album</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/timetables']"> Time Tables</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/documentfolder']"> Document Folders</a></li>
    <li routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a [routerLink]="['/markattendence']"> Mark Attendence</a></li>
  </ul>
</aside>