<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
		<div id="main-form-content">
			<form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline"> 
			<div class="col-sm-4 col-lg-2">
				<div class="form-group">
					<input [(ngModel)]="admissionFilter.enrollmentno" placeholder="enrollment no" name="enrollmentno"   
					#enrollmentno="ngModel" class="form-control w100">
				</div>
			</div>
			<div class="col-sm-12 col-lg-2">
				<button class="btn btn-info">Search</button>
				<button (click)="clearfilter()" class="btn btn-info">Clear</button>
			</div>
			</form>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 load_table">
			<div  class="qtraq-subtitle-wrapper mt20">
				<h1> Admission Details</h1>
				<button class="btn btn-danger" routerLink="addeditadmission"> Add Admission</button>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="hidden">Id</th>
						<th>Student Name</th>
						<th>Course Name</th>
						<th>Enrollment No</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let admission of admissionList| paginate: { itemsPerPage: this.size, 
	  currentPage: this.page, totalItems: this.totalRecords }">
						<td class="hidden">1</td>
						<td>{{admission.student_first_name + " " +admission.student_last_name}}</td>
						<td>{{admission.course_name}}</td>
						<td>{{admission.enrollment_no}}</td>
						<td>
							<button class="btn btn-danger" routerLink="addeditadmission/{{admission.student_id}}"> Edit</button>
						</td>
					</tr>
				</tbody>
			</table>
			<pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
		</div>
		<div class="clearfix"></div>
		</section>
	</div>
</div>
