<div id="contents">
	<div class="loader" *ngIf="isLoading">
		<img src="assets/images/loader.gif">
	</div>
	<div class="container-fluid">
		<section class="content">
			<div id="main-form-content">
				<div class="col-md-12">
					<div  class="qtraq-subtitle-wrapper mt20">
						<h1> Folder Document</h1>
					</div>
					<br>
					<div *ngIf="isLoaded" style="text-align: center;">
						<a href="{{fileURL}}" *ngIf="is_downloadable"><button class="btn btn-sm pdf-btn" type="button">
								<i class="fa fa-download"></i>
							</button></a>
						<button class="btn btn-sm pdf-btn" (click)="zoom_out()" type="button">
								<i class="fa fa-search-plus"></i>
							</button>
						<button class="btn btn-sm pdf-btn"(click)="zoom_in()" type="button">
							<i class="fa fa-search-minus"></i>
						</button>

						<button class="btn btn-sm pdf-btn"  (click)="prevPage()" [disabled]="page === 1"><i class="fa fa-angle-left" style="font-size:18px;"></i></button>
						<button class="btn btn-sm pdf-btn" (click)="nextPage()" [disabled]="page === totalPages"><i class="fa fa-angle-right" style="font-size:18px;"></i></button>
						&nbsp; &nbsp;
						<span class="page-text">Page: <span>{{page}}</span> / <span>{{totalPages}}</span></span>
					</div>
					<div class="">
						<pdf-viewer src="" [render-text]="true" style="display: block;" [show-all]="false" [page]="page" (after-load-complete)="afterLoadComplete($event)" [zoom]="pdfZoom" ></pdf-viewer>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="clearfix"></div>
</div>
